/*
 * login.css
 * Styles for QC Library Digital Signage Admin Login
 * Author: Quezon City Public Library — Developers' Hub
 *
 * Note: If you are a developer working on this file, please keep styles modular and well-commented for maintainability. — [Quezon City Public Library — Developers' Hub]
 */

.loader {
    width: 45px;
    height: 40px;
    background: linear-gradient(#fff calc(1*100%/6),#ce0b22 0 calc(3*100%/6),#0000 0),
                linear-gradient(#fff calc(2*100%/6),#0139a5 0 calc(4*100%/6),#0000 0),
                linear-gradient(#fff calc(3*100%/6),#facf00 0 calc(5*100%/6),#0000 0);
    background-size: 10px 400%;
    background-repeat: no-repeat;
    animation: matrix 1s infinite linear;
}

@keyframes matrix {
    0% {
        background-position: 0% 100%, 50% 100%, 100% 100%;
    }
    100% {
        background-position: 0% 0%, 50% 0%, 100% 0%;
    }
}
